package views

templ Index(welcome string) {
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Gaming Hub</h1>
    <p class="lead">Minecraft Datapack Creator, and Terraria Mod Maker</p>
    <script src="http://mrdoob.github.com/three.js/build/three.min.js"></script>
    <script>

    </script>
  </div>
</div>
}
